.slider__input {
  width: 100%;
  -webkit-appearance: none !important;
  background: #cecece;
  height: 2px;
  -webkit-transform: translate3d(0px, 0px, 0px);
  margin-top: 10px;
  cursor: pointer;
}

.slider__input::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background: var(--color-brand-primary);;
  height: 15px;
  width: 15px;
  cursor: pointer;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
